/* styles.module.css */

.card {
    margin-bottom: 20px;
    padding: 20px;
    border: solid 2px #ccc;
    background-color: antiquewhite;
    position: relative; /* Required for absolute positioning */
}

.btnDiv {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px; /* Adjust as needed */
    padding: 10px;
}

.btn {
    width: 5em;
    padding: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 3px;
}

.btn:hover {
    background-color: hsla(0, 0%, 82%, 0.542);
    cursor: pointer;
}
